.DS_Store
.idea
.ideaDataSources
.gradle
.classpath
.vscode
.settings
.project
.config
.git

docker-compose.yaml
.gitignore
build.sh

docker-gradle
/**/build
/**/out
/**/dataSources

*.ipr
*.iws
*.iml
*.ids
*.pyc
*.log
/**/node_modules/
/**/log/
/**/resources/static/
/**/resources/templates/
