datadir="/var/lib/proxysql"

admin_variables =
{
  admin_credentials="admin:admin;radmin:radmin"
  mysql_ifaces="0.0.0.0:6032"

  refresh_interval=2000

  cluster_username="admin"
  cluster_password="admin"
  checksum_admin_variables=false
  checksum_ldap_variables=false
  checksum_mysql_variables=false
  cluster_check_interval_ms=200
  cluster_check_status_frequency=100
  cluster_mysql_query_rules_save_to_disk=true
  cluster_mysql_servers_save_to_disk=true
  cluster_mysql_users_save_to_disk=true
  cluster_proxysql_servers_save_to_disk=true
  cluster_mysql_query_rules_diffs_before_sync=1
  cluster_mysql_servers_diffs_before_sync=1
  cluster_mysql_users_diffs_before_sync=1
  cluster_proxysql_servers_diffs_before_sync=1
}

mysql_variables=
{
  monitor_password="monitor"
  monitor_galera_healthcheck_interval=1000
  threads=4
  max_connections=2048
  server_version="8.0"
  default_query_delay=0
  default_query_timeout=10000
  poll_timeout=2000
  interfaces="0.0.0.0:3306"
  default_schema="information_schema"
  stacksize=1048576
  connect_timeout_server=10000
  monitor_history=60000
  monitor_connect_interval=20000
  monitor_ping_interval=10000
  ping_timeout_server=200
  commands_stats=true
  sessions_sort=true
  have_ssl=false
  ssl_p2s_ca=""
  ssl_p2s_cert=""
  ssl_p2s_key=""
  ssl_p2s_cipher="ECDHE-RSA-AES128-GCM-SHA256"
}

# 定义 MySQL 用户
mysql_users=
(
  {
    username="proxysql",   # 后端数据库用户
    password="proxysql",   # 该用户的密码
    default_hostgroup=100, # 该用户默认的后端数据库组
    active=1  # 有效
  }
)

# 定义 MySQL 后端数据库组
mysql_servers=
(
  {
    address="percona_master",  # 后端数据库地址 (主机名)
    port=3306,                 # 后端数据库端口
    hostgroup=100,             # 数据库组编号
    weight=1,                  # 在该组内的权重
    comment="db0,ReadWrite"
  },
  {
    address="percona_master",
    port=3306,
    hostgroup=101,
    weight=1,
    comment="db0,ReadOnly"
  },
  {
    address="percona_slave",
    port=3306,
    hostgroup=101,
    weight=9,
    comment="db0,ReadOnly"
  }
)

# 定义数据库组
mysql_replication_hostgroups=
(
  {
    writer_hostgroup=100, # 定义写的数据库组
    reader_hostgroup=101, # 定义读的数据库组
    comment="db0"
  }
)

# 定义 MySQL 的查询规则
mysql_query_rules=
(
  {
    rule_id=20, # 规则 id, 因为规则匹配是按照该 id 顺序, 所以预留一些空白
    active=1,   # 表示该规则生效
    match_digest="^SELECT .* FOR UPDATE$", # 改规则匹配的参数化 SQL 正则表达式
    destination_hostgroup=100, # 改规则将 SQL 路由到的后端数据库组
    apply=1     # 改规则立即转发
  },
  {
    rule_id=30,
    active=1,
    match_digest="^SELECT",
    destination_hostgroup=101,
    apply=1
  },
  {
    rule_id=10,
    active=1,
    match_pattern="COUNT\s*\((\*)\)",
    replace_pattern="1",
    destination_hostgroup=101,
    apply=1
  },
)

# file proxysql.cfg
# datadir = "/var/lib/proxysql"

#admin_variables =
#{
#  # cluster:secretpass 主要用于 cluster 访问
#  admin_credentials="admin:admin;cluster:secretpass"
#  mysql_ifaces="0.0.0.0:6032"
#
#  # 以下配置只有需要实现 proxysql-cluster 时才需要
#  cluster_username="cluster"
#  cluster_password="secretpass"
#  cluster_check_interval_ms=200
#  cluster_check_status_frequency=100
#  cluster_mysql_query_rules_save_to_disk=true
#  cluster_mysql_servers_save_to_disk=true
#  cluster_mysql_users_save_to_disk=true
#  cluster_proxysql_servers_save_to_disk=true
#  cluster_mysql_query_rules_diffs_before_sync=3
#  cluster_mysql_servers_diffs_before_sync=3
#  cluster_mysql_users_diffs_before_sync=3
#  cluster_proxysql_servers_diffs_before_sync=3
#}
#
## 若要实现 proxysql-cluster, 则 proxysql_servers 必须在配置文件中进行配置
#proxysql_servers =
#(
##	{
##		hostname="192.168.100.231"
##		port=6032
##		comment="proxysql_231"
##	},
##	{
##		hostname="192.168.100.232"
##		port=6032
##		comment="proxysql_232"
##	}
#)
#
#mysql_variables=
#{
#  threads=4
#  max_connections=2048
#  default_query_delay=0
#  default_query_timeout=36000000
#  have_compress=true
#  poll_timeout=2000
#  interfaces="0.0.0.0:6033"
#  default_schema="information_schema"
#  stacksize=1048576
#  server_version="8.0"
#  connect_timeout_server=3000
#  monitor_username="monitor"
#  monitor_password="monitor"
#  monitor_history=600000
#  monitor_connect_interval=60000
#  monitor_ping_interval=10000
#  monitor_read_only_interval=1500
#  monitor_read_only_timeout=500
#  ping_interval_server_msec=120000
#  ping_timeout_server=500
#  commands_stats=true
#  sessions_sort=true
#  connect_retries_on_failure=10
#}



#
#scheduler=
#(
##  {
##    id=1
##    active=0
##    interval_ms=10000
##    filename="/var/lib/proxysql/proxysql_galera_checker.sh"
##    arg1="0"
##    arg2="0"
##    arg3="0"
##    arg4="1"
##    arg5="/var/lib/proxysql/proxysql_galera_checker.log"
##  }
#)
#

