<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <title>Home</title>
</head>
<body>
<div id="app" class="container" role="main">
    <div style="text-align: center; font-size: 20px; font-weight: bold">
        {{ content }}
    </div>
    <div style="text-align: center; font-size: 14px; font-weight: 400">
        {{ ts }}
    </div>
</div>
</body>
</html>