.DS_Store
.idea
.ideaDataSources
.gradle
.classpath
.vscode
.settings
.project

build
out
dataSources

/data
/logs

*.ipr
*.iws
*.iml
*.ids
*.pyc
*.log
/**/node_modules/
/**/package-lock.json
/**/log/
/**/resources/static/
/**/resources/templates/
