!include ./main.cnf

[mysqld]
log-bin = /var/log/mysql/mysql-bin
# expire_logs_days = 7
# max_binlog_size = 100m
# binlog_cache_size = 4m
# max_binlog_cache_size = 32m

binlog-do-db = mysql_proxy
binlog_ignore_db = information_schema
binlog_ignore_db = mysql
binlog_ignore_db = performance_schema
binlog_ignore_db = sys
binlog-format = ROW
server-id = 1
